<div class='page-background'>
    <div class="glass">
        <div class="container">
            <div class="row title-row text-center">
                <div class="col-sm-12">
                    <h1 class="title NeoSans" style="font-size: 6.4rem;"><b>Founders</b></h1>
                </div>
            </div>
            <div class="row" style="justify-content: center">
                <div class="col-sm-4" style="display: flex; justify-content: center;">
                    <div class="card card-invisible card-profile text-center">
                        <img class="card-img-top profilePic" src="assets/Images/person1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="name NeoSansLight">Michael Pagnotta</p>
                                <p class="bio NeoSansItalic">
                                    Michael Pagnotta brings over 22 years of corporate management experience from his time 
                                    at several Fortune 500 companies, as well as, startup organizations including 
                                    his own strategic consulting practice.  
                                    He is an Operational and Account Management expert who deeply understands technology.    
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-4" style="display: flex; justify-content: center;">
                    <div class="card card-invisible card-profile text-center">
                        <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="name NeoSansLight"> David Galeoto</p>
                                <p class="bio NeoSansItalic" >
                                    Dr. David Galeoto, a successful  optometrist in New York City, 
                                    brings 23 years of professional experience and has been a successful small 
                                    business owner for over 12 years.  
                                    He has extensive accounting and finance expertise from running multiple private 
                                    practice offices throughout his career.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-sm-4" style="display: flex; justify-content: center;">
                    <div class="card card-invisible card-profile text-center">
                        <img class="card-img-top profilePic" src="assets/Images/person3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="name NeoSansLight">Jason Benninger</p>
                                <p class="bio NeoSansItalic">
                                    Jason Benninger is an avid gamer who has been following the rise of mixed 
                                    realities ever since Oculus first launched its kickstarter. 
                                    A former US Army soldier with a degree in public relations, 
                                    Jason is astounded by the near limitless potential that VR has shown and 
                                    is looking forward to exploring all the ways it can bring people together.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>



   <!--
    <div class="row title-row text-center">
        <div class="col-sm-12">
            <h1 class="title"><b>Staff</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row title-row text-center">
        <div class="col-sm-12">
            <h1 class="title"><b>Vendors</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="display: flex; justify-content: center;">
            <div class="card card-invisible card-profile text-center" style="width: 18rem;">
                <img class="card-img-top profilePic" src="assets/Images/person2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        Name
                    </p>
                </div>
            </div>
        </div>
    </div>
    -->
