
@import "~bootstrap/scss/bootstrap.scss";

@include media-breakpoint-down(sm) {
    .experience-list p:last-child{
         margin-bottom: 20vh;
     }
     .card-title{
         text-align: center;
     }
     .card-text{
        text-align: justify;
     }
     .experience-list p{
        text-align: justify;
     }
     .btnRow{
         justify-content: center;
     }
 }
@include media-breakpoint-up(md) {
   .container-row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.page-background {
    background: url('assets/Images/backgrounds/futurescape/futurescape_light.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.card-neon-border{
    border: 2px solid #86C232;
}
/*Invisible Card Style*/
.card-invisible {
    border: none;
    box-shadow: #61892f;
    background:transparent;
}
.card-invisible h1.card-title {
    color: #2e2e2e;
    font-weight: lighter;
}

.card-text>.container{
    padding-left: 0px;
}
.card-link{
    margin-top: 5vh;
    font-size: 2rem;
    color: #86C232;
    font-weight: bold;
}
.card-link:hover {
    color: #61892f;
}
.card-link-container{
    display: flex;
    justify-content: center;
}
blockquote{
    font-weight: lighter;
    font-family: NeoSans-light;
    font-style: oblique;
}
.neon-bold-green{
    color: #86C232
}
.experience-list p{
    color: black;
    font-family: NeoSans-light;
}
