<div class='page-container page-background page-background-greyscale'>
    <div class="glass">
        <div class="container">
            <div class="row container-row">
                <div class="col-xs-9 col-sm-12 col-md-9">
                    <div class="card card-invisible">
                        <div class="card-body">
                            <h1 class="card-title">
                                <b class="title-emphasis neon-bold-green" >Premier</b> 
                                <br/>
                                Virtual Reality Destination
                            </h1>
                            <div class="card-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-12 col-md-12 col-lg-8">
                                            <blockquote class="NeoSans">
                                                 We are Uncharted Realities, and here, anything's possible. 
                                                Leveraging the power of Virtual Reality, you'll be able to fully immerse yourself in 
                                                a myriad of possibilities. Whether it be zooming to the farthest reaches of space in
                                                your starship or taking a closer look at our own majestic world, we've got you covered.
                                                We guarantee that anyone who spends some time in any of of various worlds will never look 
                                                at their own the same way again!
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 experience-list">
                    <p> 
                        <b class="neon-bold-green"><i class="fas fa-check-circle"></i></b>  
                        Immersive experiences: Escape the world as you know it and encounter sights unseen
                    </p>
                    <p> 
                        <b class="neon-bold-green"><i class="fas fa-check-circle"></i></b>   
                        Fun for all ages: Our experiences are suitable for all ages and experience levels. From 
                        seasoned video game veterans to grandparents trying out virtual reality for the first time,
                        we guarantee all of our guests have the times of their lives 
                    </p>
                    <p> <b class="neon-bold-green"><i class="fas fa-check-circle"></i></b> 
                            Games & more: Our experiences go beyond games. Our guests will be able to explore new worlds,
                            document uncharted lands, and engage virtual reality in a variety of different ways. 
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
