@import "~bootstrap/scss/bootstrap.scss";
@include media-breakpoint-only(xs) {
    .socialMediaBtns{
        display: flex;
        justify-content: center;
    }
    .menuBtn i{
        font-size: 3.8rem;
    }
}
@include media-breakpoint-only(sm) {
    
    .menuBtn i{
        font-size: 2.8rem;
    }
}
@include media-breakpoint-up(md){
    .menuBtn i{
        font-size: 3.2rem;
    }
}
.appContainer{
    /*background: #222629;*/
    background-size: cover;
    background-repeat: no-repeat; 
}
.appContainer>.content{
    height: 88vh;
}
.logoContainer{
    position: fixed;
    top: 0px;
    min-height: 10vh;
    width: 100vw;
    z-index: 100;
    align-items: center;
    padding-top: 5px;
    background: black;
   
}
.logoContainer b{
    color: white;
}
.logo{
    margin-top: 5px;
    height: 7vh;
}
.nav-menu-toggle-btn{
    font-size: 1.5em;
    color: white;
}
.phoneNum{
    font-family: 'Sanchez', serif;
    font-size: 1.5em;
    color: white;
}
.sideNav>a.active{
   /* border-left: 2px solid #86c232;*/
    font-family: 'Sanchez', serif;
    font-size: 1.5em;
}
.sideNav>a{
    border-left:2px solid #6b6e70;
    height: 15vh;
    display: flex;
    align-items: center;
    font-family: 'Sanchez', serif; 
    color: white;
}
.sideNav>a:hover{
    color: #61892f;
}
.sideNav>a.hidden>b{
    visibility: hidden;
}
.sideNav>a.hidden{
    height: 5vh;
    cursor: default; 
}