@import "~bootstrap/scss/bootstrap.scss";
@include media-breakpoint-only(xs) {
    .socialMediaBtns {
        display: flex;
        justify-content: center;
    }
    .menuBtn i {
        font-size: 3.8rem;
    }
}
@include media-breakpoint-only(sm) {
    .menuBtn i {
        font-size: 2.8rem;
    }
}
@include media-breakpoint-up(md) {
    .menuBtn i {
        font-size: 3.2rem;
    }
    .page-container { 
        height: 100vh;
        position: relative;
        display: flex;
        align-content: center;
    }
    .logoContainer {
        position: fixed;
        top: 0px;
        min-height: 10vh;
        width: 100vw;
        z-index: 100;
        align-items: center;
        padding-top: 5px;
        background: black;
       
    }
}

.appContainer {
    background-size: cover;
    background-repeat: no-repeat; 
}
.appContainer>.content {
    height: 88vh;
}
.navbar {
    background: black;
}
.logoContainer b {
    color: white;
}
.logo {
    margin-top: 5px;
    height: 7vh;
}
.nav-menu-toggle-btn {
    font-size: 1.5em;
    color: white;
}
.phoneNum {
    font-family: 'Sanchez', serif;
    font-size: 1.5em;
    color: white;
}
