@import "~bootstrap/scss/bootstrap.scss";
@include media-breakpoint-only(xs){
    .spacing{
        height: 10vh;
    }
   
}
@include media-breakpoint-only(sm){
    img{
        height: 60vh;
    }
}
@include media-breakpoint-up(md){
    .glass{
        padding-top: 10vh;
        height: 100vh;
    }
    .scroll-container::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    .scroll-container{
        height: inherit;
        overflow-y: scroll
    }
  
    .nav-link h2{
        font-size: 3.4rem;
    }
    .spacing{
        height: 10vh;
    }
    img{
        height: 60vh;
    }
}
.page-background {
    background: url('assets/Images/backgrounds//virtual_reality/vr_woman.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.nav-link{
    cursor: pointer;
}
.underline{
    border-bottom: 1px solid white;
}
.cardContainer:last-child{
    margin-bottom: 10vh;
}
.card-header{
    background: white;
    min-height: 15vh;
}
.card-header .card-title{
    font-size: 2.4rem;
}
.card-header .authorDate{
    color: #2e2e2e;
    font-weight: lighter;
    font-size: 2.0rem;
}
.authorDate{
    color: #2e2e2e;
    font-weight: lighter;
}
.card-text{
    font-weight: lighter;
}
.close{
    font-size: 2.4rem;
    color: black;
}
.readMore{
    margin-bottom: 10vh;
}
.readMore .title{
    color: white;
}