@font-face {
    font-family: NeoSans;
    src: url("assets/Fonts/NeoSans/NeoSans_Dark.otf") format("opentype");
}
/* You can add global styles to this file, and also import other style files */
/*width*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track  */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle*/ 
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.page-container-flex{
    height: 88vh;
    display: flex;
    align-items: center;
}
.page-background{
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: -1;
}
.page-background>img{
    height: 100%;
    width: 100%;
}
.card-invisible {
    border: none;
    background:transparent;
}
.card-invisible h1.card-title {
    color: white;
    font-weight: bold;
}
.card-invisible .card-text{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.content-area{
    font-family: NeoSans;
}
.page-background-greyscale{
    filter: grayscale(30%);
}
/** Glass Effect***/
.glass {
    margin: 20px auto;
    position: relative;
    /*padding: 10px 5px;*/
    background: hsla(0,0%,100%,.3);
    border-radius: 10px;
    box-shadow: 5px 3px 30px black;
    overflow: hidden;
}
  
.glass::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
}